@{
    ViewBag.Title = "About";
}


<div class="jumbotron">
    <h3>Site Owner: Eugene Ong</h3>
    <ul>Contact Details:
        <li>Email: eugeneong852003@yahoo.com</li>
        <li>LinkedIn Profile: <a href="https://www.linkedin.com/in/eugene-ong-7b4215111/">Link Account</a> </li>
    </ul>
</div>