@{
    ViewBag.Title = "About";
}


<div class="jumbotron">
    <h3>Site Owner: Eugene Ong</h3>
    <h4>Contact Me:</h4>
    <ul>
        <li>Email: eugeneong852003@yahoo.com</li>
        <li><a href="https://www.linkedin.com/in/eugene-ong-7b4215111/">LinkedIn Profile</a></li>
    </ul>
</div>