@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Video Rental Application</h1>
    <p class="lead">This application was created purely for demonstration purposes. Please read getting started for more details</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This application offers the following functionality:
            <ul>
                <li>User registration and login</li>
                <li>Facebook login</li>
                <li>Customer management</li>
                <li>Movie management for admin</li>
                <li>Movie rental</li>
            </ul>
        <p>You may manage customers or create an account to view list of movies. Please contact owner on about page for admin functionality.</p>
        </p>
    </div>
    <div class="col-md-8">
        <h2>Technology Stack</h2>
        <div class="col-md-6">
            <ul>
                <li>ASP.NET MVC 5</li>
                <li>C#.NET</li>
                <li>Entity Framework 6 Code First</li>
                <li>MS SQL</li>
                <li>Automapper</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>Razor View Engine</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JQuery</li>
                <li>Data Table</li>
            </ul>
        </div>
    </div>

</div>